body {
    margin: 0;
    font-family: Arial;
    background: #111;
    color: white;
    text-align: center;
}

header {
    background: #000;
    padding: 30px;
}

nav {
    background: #222;
    padding: 10px;
}

nav a {
    color: gold;
    margin: 15px;
    text-decoration: none;
}

section {
    padding: 40px;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.gallery img {
    border-radius: 10px;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}

footer {
    background: black;
    padding: 20px;
}
